[Unit]
Description = Sphero Controller
Requires = pigpiod.service

[Service]
ExecStart = python3 INSTALL_DIR/main.py
Restart = always
Type = simple
User = pi

[Install]
WantedBy = multi-user.target